body {
  font-family: helvetica;
  color: #444;
}

#world {
  margin-bottom: 15px;
  overflow: hidden;
  border: 2px solid silver;
  border-radius: 20px;
  background: white;
  height: 600px;
}

.resizable {
  position: relative;
  width: 80%;
  max-width: 800px;
  min-width: 600px;
}

.grabbable {
  cursor: -webkit-grab;
  cursor: grab;
}

.grabbed {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.datamap .datamaps-hoverover{
}


#visualization-page {
  margin: 20px;
}

/* ---- YEAR SLIDER ---- */

#slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #777;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #777;
    cursor: pointer;
}




/* --- zoom buttons ---- */

.zoom-button {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none;
  background: silver;
  font-size: 16px;
  color: white;
  cursor: pointer;
  position: relative;
}

#reset {
  width: 70px;
}

#button-bar {
  position: relative;
  height: 30px;
}


/* ---- Toggle Button ---- */

.toggle {
  -webkit-appearance: none;
  appearance: none;
  width: 130px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: -3px;
  left: 140px;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: silver;
  bottom: 0;
  /*transition: background-color ease 0.3s;*/
  background-color: #42C0FB;
}

.toggle:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  width: 24px;
  height: 24px;
  background: white;
  left: 3px;
  top: 3px;
  border-radius: 4px;
  color: white;
  transition: all cubic-bezier(0, 0, 1, 1) 0.05s;
}

.toggle:after {
  content: "Emigration Immigration";
  position: absolute;
  font-size: 16px;
  left: 5px;
  top: 5px;
  color: white;
  text-indent: -90px;
  word-spacing: 40px;
  white-space: nowrap;
  transition: all cubic-bezier(0, 0, 1, 1) 0.05s;
}

.toggle:checked:before {
  left: 102px;
}

.toggle:checked:after {
  left: 102px;
}

.toggle:checked {
  background-color: #4CD964;
}

#combobox {
  -webkit-appearance: none;
  font-size: 16px;
  color:white;

}

.select-style {
  appearance: none;
  position: absolute;
  left: 280px;
  top: 0px;
  border: 1px solid #ccc;
  /*width: 120px;*/
  border-radius: 4px;
  /*overflow: hidden;*/
  /*background-color: silver;*/
  background: silver url("../img/icon-select.png") no-repeat 95% 50%;
  background-size: 20px 20px;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}

#landing-page {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: white;
  text-align: center;
  z-index: 1;
}

.landing-info {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#unhide-viz {
  height: 30px;
  width: 200px;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

/* overflow-y: auto; for scroll */